.colaborador {
    position: relative;
    width: 280px;
}

.colaborador .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.colaborador img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colaborador .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

.deletar {
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    transition: color 0.6s ease, transform 0.4s ease;

}

.deletar:hover{
    color: rgb(56, 56, 56);
    transform: scale(1.1)
}

.favorito{
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.4s ease;
    color: red;
}

.nfavorito{
    margin-top: 20px;
    cursor: pointer;
    transition: color 0.6s ease, transform 0.4s ease;
    color: black;
}

.nfavorito:hover{
    transform: scale(1.1);
    color: red; 
}
.favorito:hover{
    transform: scale(0.9);

}

